body {
  width: 100vw;
  background-color: #252b48;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 800px) {
  body {
    display: flex;
    justify-content: center;
  }
}
